<h1 class="dashboard__title">Manage orders and delivery</h1>

<section class="dashboard__order">
  <h3 class="dashboard__order--title">Pending Orders</h3>
  <% orders.active_orders.pending_orders.each do |order| %>
    <div class="order__previous--item">
      <% if order.user.role == "customer" %>
        <p class="order__previous--id">
          Ordered by
          <%= link_to "#{order.user.first_name} #{order.user.last_name}", orders_path(user_id: order.user.id) %>
        </p>
      <% else %>
        <p class="order__previous--id">
          Ordered by
          <%= link_to "Walk-in Customer", orders_path(user_id: order.user.id) %>
        </p>
      <% end %>
      <p class="order__previous--date">Ordered at <%= order.date.to_formatted_s(:short) %></p>

      <% order.order_items.each do |item| %>
        <div class="order__item">
            <p class="order__item--name"><%= item.menu_item_name %></p>
            <p class="order__item--price">&#x20B9; <%= item.menu_item_price %></p>
        </div>
      <% end %>

      <div class="order__cart--total">
        <span>Total Cost:</span>
        <span>&#x20B9; <%= order.order_items.total_price %><span>
      </div>

      <div class="dashboard__order--btns">
        <%= form_with(url: order_path(order.id), method: "put") do %>
          <%= hidden_field_tag("deliver") %>
          <%= submit_tag("Mark as delivered", class: "btn btn--green dashboard__order--btn") %>
        <% end %>
        <%= link_to "View", order_path(order.id), class: "btn dashboard__order--btn" %>
      </div>
    </div>
  <% end %>

  <h3 class="dashboard__order--title">Delivered Orders</h3>

  <% orders.delivered_orders.order("date DESC").each do |order| %>
    <div class="order__previous--item">
      <p class="order__previous--id">Order#<%= order.id %></p>
      <p class="order__previous--date">Ordered at <%= order.date.to_formatted_s(:short) %></p>

      <div class="order__item">
        <p class="order__item--name">Ordered By:</p>

        <% if order.user.role == "customer" %>
          <p class="order__item--price">
            <%= link_to "#{order.user.first_name} #{order.user.last_name}", orders_path(user_id: order.user.id) %>
          </p>
        <% else %>
          <p class="order__item--price">
            <%= link_to "Walk-in Customer", orders_path(user_id: order.user.id) %>
          </p>
        <% end %>
      </div>
      <div class="order__item">
        <p class="order__item--name">Total Cost:</p>
        <p class="order__item--price">&#x20B9; <%= order.order_items.total_price %><p>
      </div>

      <%= link_to "View", order_path(order.id), class: "btn dashboard__order--btn" %>
    </div>
  <% end %>

</section>