<h1 class="dashboard__title">Manage menus and see reports</h1>

<section class="dashboard__section dashboard__menu">
  <h3 class="dashboard__section--title">Manage menus</h3>
  <% menus.each do |menu| %>
    <div class="dashboard__menu--item">

      <div class="dashboard__menu--edit">
        <%= link_to edit_menu_path(menu.id) do %>
          <%= image_tag(asset_path("edit.png"), alt: "Edit Menu") %>
        <% end %>
        <p class="dashboard__menu--name"><%= menu.name %></p>
      </div>

      <% if menu.active %>
        <p class="active-lable">Active</p>
      <% end %>

    </div>
  <% end %>

  <%= form_with(url: menus_path, method: "post", class: "dashboard__menu--add") do %>
    <%= text_field_tag("name", nil, placeholder: "Menu name", class: "dashboard__menu--add-input") %>
    <%= submit_tag("Add", class: "btn dashboard__menu--add-btn") %>
  <% end %>
</section>