<%= render partial: "partials/nav-bar", locals: {
  links: [
    ["Dashboard", dashboard_path],
    ["Menu", menus_path],
    ["Cart", orders_path(target: "cart")],
    ["Orders", orders_path]
  ]
 }%>

<% current_menu = Menu.find(@menu_id) %>

<main class="menu">
  <h1 class="menu__title">Customize your menu</h1>

  <section class="menu__section">
    <div class="emenu__name">
      <%= form_with(url: menu_path(current_menu.id), method: "put", id: "edit_menu_form") do %>
        <%= hidden_field_tag("menu_name", current_menu.name) %>
        <span contenteditable="true" id="edit_menu_name"><%= current_menu.name %></span>
      <% end %>
      <% if current_menu.active %>
        <p class="active-lable">Active</p>
      <% else %>
        <%= form_with(url: menu_path(current_menu.id), method: "put", data: {confirm: "Are you sure to set this menu as active menu?"}) do %>
          <%= hidden_field_tag("active", true) %>
          <%= submit_tag("Set as active", class: "btn") %>
        <% end %>
      <% end %>
    </div>

    <%= form_with(url: menu_items_path, method: "post", class: "emenu__add") do %>
      <%= hidden_field_tag("menu_id", @menu_id) %>
      <%= text_field_tag("name", nil, placeholder: "Item name", class: "emenu__add--input") %>
      <%= text_field_tag("description", nil, placeholder: "Item description", class: "emenu__add--input") %>
      <%= number_field_tag("price", nil, placeholder: "Price", class: "emenu__add--input") %>
      <%= select_tag("category", options_for_select([
        ["Breakfast", "Breakfast"],
        ["Lunch", "Lunch"],
        ["Dinner", "Dinner"]]
      ), class: "emenu__add--input") %>
      <%= submit_tag("Add", class: "btn emenu__add--btn") %>
    <% end %>

    <% current_menu.menu_items.order("created_at").each do |menu_item| %>
      <div class="emenu__item" id="menu_item_<%= menu_item.id %>">
        <div>
          <%= form_with(url: destroy_menu_item_path(menu_item.id), method: "delete" ) do %>
            <%= hidden_field_tag("menu_id", @menu_id) %>
            <%= submit_tag("X", class: "delete-btn emenu__item--del" ) %>
          <% end %>

          <%= image_tag asset_path("edit.svg"), class: "emenu__item--edit", data: {id: menu_item.id, tick_icon: asset_path("tick.png"), edit_icon: asset_path("edit.svg")}%>
        </div>

        <%= form_with(url: update_menu_item_path(menu_item.id), method: "put", id: "edit_menu_item_form_#{menu_item.id}" ) do %>
          <%= hidden_field_tag("name", menu_item.name, id: "hidden_name_#{menu_item.id}") %>
          <%= hidden_field_tag("desc", menu_item.description, id: "hidden_desc_#{menu_item.id}") %>
          <%= hidden_field_tag("price", menu_item.price, id: "hidden_price_#{menu_item.id}") %>
          <%= hidden_field_tag("category", menu_item.category, id: "hidden_category_#{menu_item.id}") %>
        <% end %>

        <p class="emenu__item--name" id="menu_item_<%= menu_item.id %>_name"><%= menu_item.name %></p>
        <p class="emenu__item--desc" id="menu_item_<%= menu_item.id %>_desc"><%= menu_item.description %></p>
        <p class="emenu__item--price" id="menu_item_<%= menu_item.id %>_price">&#x20B9; <%= menu_item.price %></p>
        <p class="emenu__item--category" id="menu_item_<%= menu_item.id %>_category"><%= menu_item.category %></p>
      </div>
    <% end %>

  </section>
</main>

<%= javascript_pack_tag 'edit_menu' %>
