<%= render partial: "partials/nav-bar", locals: {
  links: [
    ["Dashboard", dashboard_path],
    ["Menu", menus_path],
    ["Cart", orders_path(target: "cart")],
    ["Orders", orders_path]
  ]
 }%>

<% current_menu = Menu.find(@menu_id) %>

<main class="menu">
  <h1 class="menu__title">Customize your menu</h1>

  <section class="menu__section">
    <div class="emenu__name">
      <span><%= current_menu.name %></span>
      <% if current_menu.active %>
        <p class="active-lable">Active</p>
      <% else %>
        <%= form_with(url: menu_path, method: "put") do %>
          <%= hidden_field_tag("menu_id", @menu_id) %>
          <%= hidden_field_tag("active", true) %>
          <%= submit_tag("Set as active", class: "btn") %>
        <% end %>
      <% end %>
    </div>

    <%= form_with(url: menu_items_path, method: "post", class: "emenu__add") do %>
      <%= hidden_field_tag("menu_id", @menu_id) %>
      <%= text_field_tag("name", nil, placeholder: "Item name", class: "emenu__add--input") %>
      <%= text_field_tag("description", nil, placeholder: "Item description", class: "emenu__add--input") %>
      <%= number_field_tag("price", nil, placeholder: "Price", class: "emenu__add--input") %>
      <%= select_tag("category", options_for_select([
        ["Breakfast", "Breakfast"],
        ["Lunch", "Lunch"],
        ["Dinner", "Dinner"]]
      ), class: "emenu__add--input") %>
      <%= submit_tag("Add", class: "btn emenu__add--btn") %>
    <% end %>

    <% current_menu.menu_items.each do |menu_item| %>
      <div class="emenu__item">
        <p class="emenu__item--name"><%= menu_item.name %></p>
        <p class="emenu__item--desc"><%= menu_item.description %></p>
        <p class="emenu__item--price">&#x20B9; <%= menu_item.price %></p>
        <p class="emenu__item--category"><%= menu_item.category %></p>
      </div>
    <% end %>

  </section>
</main>