<%= render partial: "partials/nav-bar", locals: {
  links: [
    ["Dashboard", dashboard_path],
    ["Menu", menus_path],
    ["Cart", orders_path(target: "cart")],
    ["Orders", orders_path]
  ]
}%>

<% user = User.find_by(id: @id) %>

<main class="user">
  <% if !user %>
    <h1 class="user__title">No user found</h1>
    <img class="empty-state" src=<%= asset_path("empty_state.svg")%> alt="Food Illustration">
  <% else %>
    <% user_name = user.first_name + " " + user.last_name %>
    <h1 class="user__title">Manage User</h1>

    <section class="order__section order__previous">
      <div class="card">

        <p class="card__title">User#<%= user.id %></p>
        <p class="card__sub-title">Manage the user details</p>

        <p class="user__show--details">
          User name: <%= user_name %>
        </p>

        <p class="user__show--details">
          Role: <%= user.role.capitalize %>
        </p>

        <p class="user__show--details">
          E-mail: <%= link_to user.email, "mailto:#{user.email}" %>
        </p>

        <p class="user__show--details">
          Total Orders: <%= user.orders.active_orders.count %>
        </p>

        <div class="user__show--btns">
          <%= link_to "View Orders", orders_path(user_id: user.id), class: "btn user__show--btn" %>
          <%= link_to "Edit User", edit_user_path(user.id), class: "btn btn--green user__show--btn"%>
        </div>
      </div>
    </section>
  <% end %>
</main>