<%= render partial: "partials/nav-bar", locals: {
  links: [
    ["Dashboard", dashboard_path],
    ["Menu", menus_path],
    ["Cart", orders_path(target: "cart")],
    ["Orders", orders_path]
  ]
}%>

<% user = User.find_by(id: @id) %>

<main class="user">
  <% if !user %>
    <h1 class="user__title">No user found</h1>
    <img class="empty-state" src=<%= asset_path("EmptyState.svg")%> alt="Food Illustration">
  <% else %>
    <% user_name = user.first_name + " " + user.last_name %>

    <h1 class="user__title">Manage User</h1>

  <section class="order__section order__previous">
    <div class="order__previous--item">

      <p class="order__previous--id">User#<%= user.id %></p>

      <p class="order__invoice--user">
          User name: <%= user_name %>
      </p>

      <p class="order__invoice--user">
        User role: <%= user.role.capitalize %>
      </p>

      <p class="order__invoice--user">
        User email: <%= link_to user.email, "mailto:#{user.email}" %>
      </p>

      <div class="dashboard__order--btns">
        <%= link_to "View Orders", orders_path(user_id: user.id), class: "btn dashboard__order--btn" %>
        <%= link_to "Edit User", edit_user_path(user.id), class: "btn btn--green dashboard__order--btn"%>
      </div>


    </div>
  </section>


  <% end %>
</main>