<section class="order__section order__cart">
  <% if current_order_items.empty? %>
    <h3 class="order__section--title">Your cart is empty</h3>

  <% else %>
    <h3 class="order__section--title">Your Cart</h3>

    <div class="order__cart--item">
      <p class="order__cart--title">Place your order</p>
      <p class="order__cart--itemscount">Items in your cart: <%= current_order_items.count %></p>
      <% current_order_items.each do |order_item| %>
        <div class="order__item">
          <%= form_with(url: order_item_path(order_item.id), method: "delete") do %>
            <%= submit_tag("X", class: "active-lable order__item--delete") %>
          <% end %>

          <p class="order__item--name"><%= order_item.menu_item_name %></p>
          <p class="order__item--price">&#x20B9; <%= order_item.menu_item_price %></p>
        </div>
      <% end %>

      <div class="order__cart--total">
        <span>Total Cost:</span>
        <span>&#x20B9; <%= current_order_items.total_price %><span>
      </div>

      <%= form_with(url: order_path(current_order_id), method: "put") do %>
        <%= hidden_field_tag("place") %>
        <%= submit_tag("Place your order", class: "btn order__cart--btn") %>
      <% end %>
    </div>
  <% end %>
</section>