<% if orders[0..-2].empty? %>
  <h1 class="order__title">Woops! Order something delicious today</h1>
  <img class="empty-state" src=<%= asset_path("empty_state.svg")%> alt="Food Illustration">
<% else %>
  <h1 class="order__title"><%= title %></h1>

  <section class="order__section">
    <% orders.active_orders.order("date DESC").each do |order|%>
      <div class="card">
        <p class="card__title">Order #<%= order.id %></p>
        <p class="card__sub-title">Ordered at <%= order.date.to_formatted_s(:short) %></p>

        <% order.order_items.each do |item| %>
          <div class="order__item">
              <p class="order__item--name"><%= item.menu_item_name %></p>
              <p class="order__item--price">&#x20B9; <%= item.menu_item_price %></p>
          </div>
        <% end %>

        <% order_delivered = order.delivered_at.nil? %>

        <p class="order__previous--status">

          <% if order_delivered %>
            <span>Status: </span>
            <span class="order__previous--status-received">Order received</span>
          <% else %>
            <span>Status: </span>
            <span class="order__previous--status-delivered">Delivered (<%= order.delivered_at.to_formatted_s(:short) %>)</span>
          <% end %>
        </p>
      </div>
    <% end %>
  </section>
<% end %>